$icons: (
	  sprite: (width: 403px, height: 362px, svgPath: '../img/sprite.svg'),
 	arrow-b: (width: 25px, height: 66px, backgroundX: -337px, backgroundY: 0px),
 	arrow-b-blue: (width: 25px, height: 66px, backgroundX: -337px, backgroundY: -76px),
 	arrow-bc: (width: 6px, height: 9px, backgroundX: -321px, backgroundY: -202px),
 	arrow-left: (width: 19px, height: 8px, backgroundX: -372px, backgroundY: -291px),
 	arrow-left-a: (width: 19px, height: 8px, backgroundX: -372px, backgroundY: -309px),
 	arrow-next: (width: 67px, height: 26px, backgroundX: -255px, backgroundY: -144px),
 	arrow-next-p: (width: 66px, height: 25px, backgroundX: -245px, backgroundY: -202px),
 	arrow-prev: (width: 67px, height: 26px, backgroundX: -168px, backgroundY: -202px),
 	arrow-prev-p: (width: 66px, height: 25px, backgroundX: -112px, backgroundY: -242px),
 	arrow-right: (width: 28px, height: 8px, backgroundX: -255px, backgroundY: -180px),
 	big-arrow: (width: 28px, height: 66px, backgroundX: 0px, backgroundY: -286px),
 	btn-after: (width: 21px, height: 58px, backgroundX: -337px, backgroundY: -152px),
 	btn-after-h: (width: 20px, height: 56px, backgroundX: -372px, backgroundY: -68px),
 	btn-before: (width: 21px, height: 58px, backgroundX: -372px, backgroundY: 0px),
 	btn-before-h: (width: 20px, height: 56px, backgroundX: -372px, backgroundY: -134px),
 	btn-border: (width: 64px, height: 56px, backgroundX: -38px, backgroundY: -286px),
 	burger: (width: 25px, height: 21px, backgroundX: -337px, backgroundY: -220px),
 	chassis: (width: 37px, height: 50px, backgroundX: -112px, backgroundY: -286px),
 	cistern: (width: 102px, height: 34px, backgroundX: 0px, backgroundY: -242px),
 	dots: (width: 34px, height: 24px, backgroundX: -188px, backgroundY: -242px),
 	dots-active: (width: 34px, height: 24px, backgroundX: -232px, backgroundY: -242px),
 	dropdown: (width: 10px, height: 8px, backgroundX: -293px, backgroundY: -180px),
 	dropdown-w: (width: 10px, height: 8px, backgroundX: -313px, backgroundY: -180px),
 	ft-logo: (width: 245px, height: 48px, backgroundX: 0px, backgroundY: -144px),
 	icon-pdf: (width: 23px, height: 23px, backgroundX: -159px, backgroundY: -286px),
 	icon-print: (width: 27px, height: 23px, backgroundX: -276px, backgroundY: -242px),
 	icon-share: (width: 24px, height: 24px, backgroundX: -337px, backgroundY: -251px),
 	logo: (width: 327px, height: 62px, backgroundX: 0px, backgroundY: 0px),
 	logo-w: (width: 158px, height: 30px, backgroundX: 0px, backgroundY: -202px),
 	logotest: (width: 327px, height: 62px, backgroundX: 0px, backgroundY: -72px),
 	mail: (width: 19px, height: 13px, backgroundX: -372px, backgroundY: -327px),
 	phone: (width: 13px, height: 13px, backgroundX: -313px, backgroundY: -242px),
 	phone-w: (width: 20px, height: 20px, backgroundX: -372px, backgroundY: -231px),
 	search: (width: 20px, height: 21px, backgroundX: -372px, backgroundY: -200px),
 	search-w: (width: 20px, height: 20px, backgroundX: -372px, backgroundY: -261px),
);
