// Задний фон для модальных окон
$overlayBackgroundColor: rgba(0, 0, 0, 0.5);

$color-text: #3C3C3C;
$color-title: #373939;
$color-link: #009EE3;
$color-link-hover: #3C3C3C;
$color-blue: #009EE3;
$color-main: #373939;
$color-orange: #FC8356;


$font-title: "squares",
"arial";
$font: "segoeui",
"arial";
$rouble: Rouble;

$fontSize: (h1: 60px, // заголовок страницы
    h2: 40px, // заголовок второго уровня
    h3: 26px, // заголовок третьего уровня
    norma: 16px, // основной размер шрифта
    normaMinus: 14px, // уменьшенный размер шрифта
    normaPlus: 18px, // увеличенный размер шрифта
    priceNone: 15px, // нет цены (цена по запросу)
    priceNoneBig: 20px, // нет цены (цена по запросу) в карточке единицы (техники, товара)
    price: 22px, // цена в списке техники
    priceBig: 31px, // цена в карточке единицы (техники, товара)
    privacyPolicy: 12px, // текст политики конфидициальности
    presence: 15px, // в наличии/под заказ
    input: 14px, // текстовые поля
    textarea: 14px, // текстовые поля
);

$lineHeight: (h1: normal,
    h2: normal,
    h3: normal,
    body: 1.375);

$padding: 170px 0; // внутренний отступ секции/блока.
$marginBottom: 170px; //Отступ блока снизу
$paddingHeading: 50px;

$margin: (h1: 73px 0 66px, // заголовок страницы
    h2: 0px 0 75px, // заголовок второго уровня
    h3: 64px 0 40px, // заголовок третьего уровня
    h4: 66px 0 18px, // заголовок четвертого уровня
    block: 0 0 170px, // основной отступ снизу блока.
    block2: 0 0 75px, // дополнительный отступ снизу блока, уменьшенный.
    p: 0px 0 17px, // абзац
    ul: 0 0 74px, // маркированный список
    ol: 0 0 85px, // нумерованный список
    table: 32px 0 59px, // таблица
    hr: 40px 0 // разделитель
);