// nv-menu (css)
+b.nv.nv-menu
    +e.list.UL
        +e.item_expanded.__item-1
            +e.link.A(href='#') О Северест
            +b.nv-submenu.nv__submenu(style="opacity: 0; visibility: hidden;")
                +e.UL
                    +e.item
                        +e.link.A(href="#") Наличие
                    +e.item
                        +e.link.A(href="#") Дилеры
        +e.item_expanded.__item-2
            +e.link.A(href="#") Продукция
            +b.nv-big-submenu.nv-submenu.nv__submenu(style="opacity: 0; visibility: hidden;")
                .gridmenu
                    +e.list
                        h4 Автоцистерны
                        +e.item
                            +e.image
                                img(src="img/prevProduct/tt1.png")
                            +e.text Автоцистерны
                        +e.item
                            +e.image
                                img(src="img/prevProduct/tt2.png")
                            +e.text Полуприцепы-цистерны
                        +e.item
                            +e.image
                                img(src="img/prevProduct/tt3.png")
                            +e.text Прицепы-цстерны
                    +e.list
                        h4 Самосвалы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/dt1.png")
                            +e.text Автомоибли-самосвалы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/dt2.png")
                            +e.text Полуприцепы-самосвалы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/dt3.png")
                            +e.text Прицепы-самосвалы
                    +e.list
                        h4 Бортовая техника
                        +e.item
                            +e.image
                                img(src="img/prevProduct/ot1.png")
                            +e.text Автомоибли-самосвалы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/ot2.png")
                            +e.text Полуприцепы-самосвалы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/ot3.png")
                            +e.text Прицепы-самосвалы
                    +e.list
                        h4 Сортиментовозы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/at1.png")
                            +e.text Автомобили-сортиментовозы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/at2.png")
                            +e.text Полуприцепы-сортиментовозы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/at3.png")
                            +e.text Прицепы-сортиментовозы
                    +e.list
                        h4 Контейнеровозы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/ct1.png")
                            +e.text Контейнеровозы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/ct2.png")
                            +e.text Полуприцепы-контейнеровозы
                        +e.item
                            +e.image
                                img(src="img/prevProduct/ct3.png")
                            +e.text Прицепы-сортиментовозы
                    +e.list
                        +e.item_link
                            +e.image
                                img(src="img/prevProduct/new.png")
                            +e.text 
                                a(href="#") Новинки
                        +e.item_link
                            +e.image
                                img(src="img/prevProduct/avail.png")
                            +e.text
                                a(href="#") Техника в наличии
        +e.item_expanded.__item-3
            +e.link.A(href='#') Покупка
            +b.nv-submenu.nv__submenu(style="opacity: 0; visibility: hidden;")
                +e.UL
                    +e.item
                        +e.link.A(href="#") Покупка
                    +e.item
                        +e.link.A(href="#") Покупка
        +e.item_expanded.__item-4
            +e.link.A(href="#") Сервис и запчасти
            +b.nv-submenu.nv__submenu(style="opacity: 0; visibility: hidden;")
                +e.UL
                    +e.item
                        +e.link.A(href="#") Сервис и запчасти
                    +e.item
                        +e.link.A(href="#") Сервис и запчасти
        +e.item.__item-5
            +e.link.A(href="#") Контакты
// КОНЕЦ: nv-menu (css)
