@import "../../styles/helpers/_helpers";

.slider-swiper {
    position: relative;
    overflow: hidden;
}

.pagination {

    max-width: fit-content;
    position: absolute;
    bottom: 1rem !important;
    right: 0;
    margin: auto;

    @include max-screen(1023px) {}

}

.swiper-pagination-bullet {
    @include svgsprite(dots);
    border: none;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    @include svgsprite(dots-active);
    border: none;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}