- const consult = [{"title":"","textposition":"both","backgroundcolor":"bluewhite titleblue form","background":"","description":"<h4>Есть сомнения? Получите консультацию специалиста!</h4><p>Свяжитесь с нами по бесплатной горячей линии</p><span>8 800 23-45-67</span>","secondtext":"<p>Или оставьте контактные данные и мы сами с вами свяжемся</p>"}];

for item in consult  
    +consult(item)