
+b.presscenter   
    .section__row
        H2.title Пресс-центр
        include ../arrows/arrows-horizontal
    +e.item
        e.img
            IMG(src="img/temp/presscenter1.jpg")
        +e.text
            H4 Нам присвоен статус QualifiedPartner by Mercedes-Benz Trucks
            SPAN.date 25.01.2017
            +e.A(href="#").link Подробнее
    +e.item
        e.img
            IMG(src="img/temp/presscenter2.jpg")
        +e.text
            H4 Обзор пневматической подвески BPW-43500
            SPAN.date 25.01.2017
            +e.A(href="#").link Подробнее
A.btn__corner.centered.btn-m Все публикации
    span.border
