+e.UL.links
    +e.LI.link.active
        A(href="#tabs-1") Варианты исполнения
    +e.LI.link
        A(href="#tabs-2") Описание
    +e.LI.link
        A(href="#tabs-3") Шасси
    +e.LI.link
        A(href="#tabs-4") Опции