//- const tehitems = [{title:"Нашу технику используют", substyle: "col-auto", subitems:[{image:"usetehniks/Rectangle22.png"},{image:"usetehniks/Rectangle24.png"},{image:"usetehniks/Rectangle26.png"},{image:"usetehniks/Rectangle27.png"},{image:"usetehniks/Rectangle28.png"},{image:"usetehniks/Rectangle29.png"},{image:"usetehniks/Rectangle30.png"}]}];


.block.block-py2
  .block__title
    h2 Нашу технику используют      
    .block__content.tehniks
      .subitem
        .subitem__image
          img(src="img/usetehniks/Group_396.jpg" alt="")
      .subitem
        .subitem__image
          img(src="img/usetehniks/Group_397.jpg" alt="")              
      
      .subitem
        .subitem__image
          img(src="img/usetehniks/Group_398.jpg" alt="")              
      
      .subitem
        .subitem__image
          img(src="img/usetehniks/Group_399.jpg" alt="")              
      
      .subitem
        .subitem__image
          img(src="img/usetehniks/Group_400.jpg" alt="") 
      .subitem
        .subitem__image
          img(src="img/usetehniks/Group_401.jpg" alt="")              
