@charset "UTF-8";
.btn-icon_left:before, .btn-icon_left:hover:before, .btn-icon_right:after, .btn-icon_right:hover:after {
  display: inline-block;
  background-image: url("../img/sprite.svg");
  -moz-background-size: 25.375em 22em;
    -o-background-size: 25.375em 22em;
       background-size: 25.375em 22em;
}

.promo {
  margin-bottom: 170px;
}

@media only screen and (max-width: 991px) {
  .gulp-pages {
    display: none;
  }
}

.table-wrapper {
  overflow: auto;
}

a.lightgallery {
  border-bottom: none;
}

ul.slick-dots li button,
.slick-slide,
.slick-arrow {
  outline: none;
}

.margin {
  margin: 0 0 170px;
}

.margin-small {
  margin: 0 0 75px;
}

.padding {
  padding: 170px 0;
}

.padding__title {
  padding-top: 50px;
}

.container-fluid {
  /* max-width: 1620px; */
  max-width: -webkit-calc(100% - 36px + 17px);
  max-width: -moz-calc(100% - 36px + 17px);
  max-width: calc(100% - 36px + 17px);
  margin-left: auto;
  margin-right: auto;
  /*@include min-screen(1280px) {
        max-width: calc(100% - 6rem);
        //padding: 0 1rem;
    }*/
  /*  @include max-screen(1654px) 
    @include max-screen(1375px) 
    991 / бургер меню (моб версия)*/
}

@media only screen and (min-width: 768px) {
  .container-fluid {
    max-width: -webkit-calc(100% - 60px + 17px);
    max-width: -moz-calc(100% - 60px + 17px);
    max-width: calc(100% - 60px + 17px);
  }
}

@media only screen and (min-width: 1024px) {
  .container-fluid {
    max-width: -webkit-calc(100% - 120px + 17px);
    max-width: -moz-calc(100% - 120px + 17px);
    max-width: calc(100% - 120px + 17px);
  }
}

@media only screen and (min-width: 1366px) {
  .container-fluid {
    max-width: -webkit-calc(100% - 200px);
    max-width: -moz-calc(100% - 200px);
    max-width: calc(100% - 200px);
  }
}

@media only screen and (min-width: 1536px) {
  .container-fluid {
    max-width: -webkit-calc(100% - 300px);
    max-width: -moz-calc(100% - 300px);
    max-width: calc(100% - 300px);
  }
}

.page-title {
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.date-news {
  font-size: 25px;
  color: #fff;
  background-color: #969696;
  padding: 18px 20px 20px 20px;
  margin-right: 23px;
}

.btn-link {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #009EE3;
  color: #009EE3;
}

.btn-icon {
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
}

.btn-icon_left:before {
  content: "";
  width: 1.25em;
  height: 0.5625em;
  background-position: -23.75em -20.875em;
  margin-right: 10px;
}

.btn-icon_left:hover {
  border-bottom-color: #3C3C3C;
}

.btn-icon_left:hover:before {
  content: "";
  width: 1.25em;
  height: 0.5625em;
  background-position: -16.25em -11.5625em;
  margin-right: 10px;
}

.link {
  color: #3C3C3C;
}

.btn-icon_right:after {
  content: "";
  width: 1.8125em;
  height: 0.5625em;
  background-position: -21.375em -14.5625em;
  margin-left: 10px;
}

.btn-icon_right:hover {
  border-bottom-color: #3C3C3C;
}

.btn-icon_right:hover:after {
  content: "";
  width: 1.8125em;
  height: 0.5625em;
  background-position: -21.375em -14.5625em;
  margin-right: 10px;
}

table div {
  padding-bottom: 5px;
}

table td,
table th {
  width: 52.2%;
  position: relative;
}

table td div {
  z-index: 1;
  position: relative;
  display: inline-block;
  background-color: white;
  padding-right: 10px;
}

table td:first-child::after {
  content: "\A0";
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 10px;
  border-bottom: 2px dotted #AEAEAE;
}

.introcontent {
  padding-left: 18px;
  padding-right: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.introcontent h1 {
  font-size: 29px;
  line-height: 1;
  margin: 0 auto 1rem;
}

@media only screen and (min-width: 768px) {
  .introcontent h1 {
    font-size: 40px;
    margin: 0;
  }
}

@media only screen and (min-width: 1536px) {
  .introcontent h1 {
    font-size: 70px;
    line-height: 70px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .introcontent {
    padding-left: 30px;
    padding-right: 0;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .introcontent {
    padding-left: 60px;
  }
}

@media only screen and (min-width: 1366px) {
  .introcontent {
    padding-left: 100px;
  }
}

@media only screen and (min-width: 1536px) {
  .introcontent {
    padding-left: 150px;
  }
}

.introcontent__heading {
  margin: auto 0 1rem;
}

@media only screen and (min-width: 768px) {
  .introcontent__heading {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 1366px) {
  .introcontent__heading {
    max-width: 40vw;
  }
}

.introcontent__icon {
  display: none;
}

@media only screen and (min-width: 1366px) {
  .introcontent__icon {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin-right: 1rem;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .introcontent__image {
    position: absolute;
    bottom: 0;
    z-index: -5;
    width: 35rem;
    max-height: 385px;
    left: -webkit-calc(20% + 8rem);
    left: -moz-calc(20% + 8rem);
    left: calc(20% + 8rem);
  }
}

@media only screen and (min-width: 1024px) {
  .introcontent__image {
    left: -webkit-calc(470px + 8rem);
    left: -moz-calc(470px + 8rem);
    left: calc(470px + 8rem);
    max-height: 480px;
    width: 40rem;
  }
}

@media only screen and (min-width: 1366px) {
  .introcontent__image {
    left: 36rem;
    max-height: 540px;
    width: 50rem;
  }
}

@media only screen and (min-width: 1536px) {
  .introcontent__image {
    left: 30rem;
    max-height: 740px;
    width: 65rem;
  }
}

.introcontent__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3vw 5vw;
  max-width: 600px;
  margin: 0 auto 2rem;
}

@media only screen and (min-width: 768px) {
  .introcontent__description {
    max-width: 24rem;
    grid-gap: 0.5rem;
    margin: 0;
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media only screen and (min-width: 1024px) {
  .introcontent__description {
    max-width: 671px;
    -ms-grid-columns: (minmax(6rem, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(6rem, auto));
    grid-auto-flow: column;
    grid-gap: 0.5rem;
  }
}

@media only screen and (min-width: 1366px) {
  .introcontent__description {
    width: 40vw;
    -ms-grid-columns: minmax(320px, 1fr) minmax(310px, 1fr);
        grid-template-columns: minmax(320px, 1fr) minmax(310px, 1fr);
    grid-auto-flow: row dense;
    grid-gap: 1.5rem 0rem;
  }
}

.introcontent__description .item {
  padding: 0.25rem 1rem 0 0;
}

@media only screen and (min-width: 1366px) {
  .introcontent__description .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.introcontent__title {
  display: none;
}

@media only screen and (min-width: 768px) {
  .introcontent__title {
    display: block;
    color: #3c3c3ccc;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 1366px) {
  .introcontent__title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    margin-bottom: 1rem;
  }
}

.vis {
  display: block !important;
}

.introcontent__value {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.introcontent__value span {
  font-weight: normal;
  text-transform: initial;
}

@media only screen and (min-width: 768px) {
  .introcontent__value {
    line-height: 1.375;
  }
}

@media only screen and (min-width: 1366px) {
  .introcontent__value {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.introcontent__value-digits {
  font-size: 29px;
  line-height: 1;
  font-family: squares, arial;
}

@media only screen and (min-width: 768px) {
  .introcontent__value-digits {
    font-size: 34px;
    line-height: 39px;
  }
}

@media only screen and (min-width: 1366px) {
  .introcontent__value-digits {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 44px;
    line-height: 50px;
  }
}

.introcontent__value-digits span {
  font-size: 12px;
  margin-left: 3px;
}

.introcontent__value-digits sup {
  margin-left: -4px;
}
