@charset "UTF-8";
.tablecontent__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #D9D9D9;
}

@media only screen and (min-width: 1024px) {
  .tablecontent__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 14rem auto;
        grid-template-columns: 14rem auto;
  }
}

.tablecontent__row:first-child {
  border-bottom: 1px solid transparent;
}

@media only screen and (min-width: 1024px) {
  .tablecontent__row:first-child {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 21rem 1fr 1fr 1fr 2fr 2fr;
        grid-template-columns: 21rem 1fr 1fr 1fr 2fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0px 0px;
  }
}

.tablecontent__image {
  max-width: 50vw;
}

@media only screen and (min-width: 768px) {
  .tablecontent__image {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .tablecontent__image {
    max-width: initial;
  }
}

.tablecontent__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  .tablecontent__info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .tablecontent__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7rem 5fr 2fr;
        grid-template-columns: 7rem 5fr 2fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .tablecontent__main,
  .tablecontent__deatails {
    max-width: 40vw;
    -webkit-box-flex: 1;
    -webkit-flex: 1 60%;
       -moz-box-flex: 1;
        -ms-flex: 1 60%;
            flex: 1 60%;
  }
}

@media only screen and (min-width: 768px) {
  .tablecontent__price {
    -webkit-box-flex: 1;
    -webkit-flex: 1 40%;
       -moz-box-flex: 1;
        -ms-flex: 1 40%;
            flex: 1 40%;
    max-width: 30vw;
    text-align: right;
  }
}

.tablecontent__main {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tablecontent__deatails {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (min-width: 1024px) {
  .tablecontent__deatails {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

.tablecontent__link {
  margin-right: 1rem;
}

.tablecontent__deatails > div {
  margin-right: 0.25rem;
}

.tablecontent__model {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #D9D9D9;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablecontent__art {
  padding: 2px 10px;
  background: #969696;
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #fff;
  display: none;
  overflow: hidden;
}

.tablecontent__volume,
.tablecontent__sections,
.tablecontent__dia,
.tablecontent__chassis,
.tablecontent__pricevalue {
  font-size: 18px;
}

.tablecontent__volume {
  font-weight: 700;
}

.tablecontent__volume span {
  font-weight: normal;
}

.tablecontent__dia {
  font-weight: 700;
}

.tablecontent__sections {
  font-weight: 700;
}

.tablecontent__pricevalue {
  font-family: squares, arial;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}

.tablecontent__defenitions > * {
  font-size: 18px !important;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0;
  font-weight: 400 !important;
  font-family: "segoeui", "arial" !important;
  display: none;
}

@media only screen and (min-width: 1024px) {
  .tablecontent__defenitions > * {
    display: block;
  }
}

/********************* Таблица в карточке товара *****************/
.tabs__truckcard {
  max-width: 1200px;
  margin: auto;
}

.tabs__truckcard .tablecontent__deatails,
.tabs__truckcard .tablecontent__main {
  max-width: initial;
}

.tabs__truckcard .tablecontent__row {
  display: block;
}

.tabs__truckcard .tablecontent__row:first-child {
  -ms-grid-columns: 15rem 1fr 1fr 1fr 2fr 2fr;
      grid-template-columns: 15rem 1fr 1fr 1fr 2fr 2fr;
}

.tabs__truckcard .tablecontent__image {
  display: none;
}

.tabs__truckcard .tablecontent__info {
  -ms-grid-columns: 15rem 5fr 2fr;
      grid-template-columns: 15rem 5fr 2fr;
}

.tabs__truckcard .tablecontent__art {
  display: block;
}

.tabs__truckcard .tablecontent__pricevalue {
  font-size: 18px;
}
