// menu-m-panel
+b.menu-m-panel
    +e.hd
        include ../close/close
        include ../phone-m-btn/phone-m-btn
    +e.cont
        +e.inner
                include ../search-m/search-m
                include ../nv-m-menu/nv-m-menu
// КОНЕЦ: menu-m-panel
