extends layout/default

block variables
    - const title = "Новость";
    - const description = '';
    - const keywords = '';
    - const pageClass = 'page-news-node';

block styles
    //+style("http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
    //+style('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')
    //- +style('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.css')
    +style('https://cdn.jsdelivr.net/npm/lightgallery/dist/css/lightgallery.min.css')
    +style('css/common.min.css')        // базовые стили
    +style('css/lightgallery.min.css')      // фотогаллерея
    +style('css/hd.min.css')            // Шапка
    +style('css/nv-menu.min.css')       // Навигация
    +style('css/search.min.css')        // Поиск
    +style('css/bc.min.css')            // Хлебные крошки
    +style('css/nd-page.min.css')       // Текстовая страница
    +style('css/ft.min.css')            // Подвал
    +style('css/section-press.min.css')  // Новость 
    +style('css/tags.min.css')       // Текстовая страница
    +style('css/hd-m.min.css')       // Текстовая страница
    +style('css/bc-m.min.css')       // Текстовая страница
    +style('css/burger.min.css')       // Текстовая страница
    +style('css/logo-m.min.css')       // Текстовая страница
    +style('css/menu-m-panel.min.css')       // Текстовая страница
    +style('css/nv-m.min.css')       // Текстовая страница
    //-+style('css/phone-m-btn.min.css')       // Текстовая страница
    +style('css/search-m.min.css')       // Текстовая страница
    +style('css/search-m-btn.min.css')       // Текстовая страница
    

block scripts
    +script('https://cdn.jsdelivr.net/npm/jquery@1.11.0/dist/jquery.min.js')
    //+script('https://cdn.jsdelivr.net/npm/jquery-once@2.2.0/jquery.once.min.js')
    //+script("https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    +script('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
    //+script('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js')
    +script('https://cdn.jsdelivr.net/npm/lightgallery/dist/js/lightgallery-all.min.js')
    //+script('https://cdn.jsdelivr.net/npm/inputmask/dist/min/jquery.inputmask.bundle.min.js')

    +script('js/theme.min.js')          // кастомный файл

block content
    .wrapper
        .head.text-page 
            include ../components/hd/hd/hd
            include ../components/hd-m/hd-m/hd-m
            .container-fluid
                include ../components/bc/bc
                .page-title
                    h1 Пресс-центр
        main
            .container-fluid
                include ../components/tags/tags
                include ../components/section-press/section-press                
    include ../components/ft/ft
