// hd-m
+b.hd-m
    +e.inner
        include ../burger/burger
        include ../logo-m/logo-m
        include ../phone-m-btn/phone-m-btn
    include ../bc-m/bc-m
    include ../menu-m-panel/menu-m-panel

// КОНЕЦ: hd-m
