+b.tabs(id="tabs") 
    +b.UL.links
        +e.LI.link.active
            A(href="#tabs-1") Автоцистерны
        +e.LI.link
            A(href="#tabs-2") Бортовая техника
        +e.LI.link
            A(href="#tabs-3") Сортиментовозы
        +e.LI.link
            A(href="#tabs-4") Контейнеровозы
        +e.LI.link
            A(href="#tabs-5") Самосвалы               
    +e.content(id="tabs-1")
        +e.items 
            +e.item
                +e.A(href="#").bl                    
                    IMG(src="img/catalog/cist_big3.jpg")
                    H3 Автоцистерна на шасси
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big1.jpg")
                    H3 Автоцистерна на шасси
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big2.jpg")            
                    H3 Прицепы цистерны
    +e.content(id="tabs-2")
        +e.items 
            +e.item
                +e.A(href="#").bl                    
                    IMG(src="img/catalog/cist_big3.jpg")
                    H3 Автоцистерна на шасси
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big1.jpg")
                    H3 Автоцистерна на шасси
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big2.jpg")            
                    H3 Прицепы цистерны
    +e.content(id="tabs-3")
        +e.items 
            +e.item
                +e.A(href="#").bl                    
                    IMG(src="img/catalog/cist_big3.jpg")
                    H3 Автоцистерна на шасси
    +e.content(id="tabs-4")
        +e.items 
            +e.item
                +e.A(href="#").bl                    
                    IMG(src="img/catalog/cist_big3.jpg")
                    H3 Автоцистерна на шасси
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big1.jpg")
                    H3 Автоцистерна на шасси            
    +e.content(id="tabs-5")
        +e.items 
            +e.item
                +e.A(href="#").bl                    
                    IMG(src="img/catalog/cist_big3.jpg")
                    H3 Автоцистерна на шасси
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big1.jpg")
                    H3 Автоцистерна на шасси
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big2.jpg")            
                    H3 Прицепы цистерны
            +e.item
                +e.A(href="#").bl
                    IMG(src="img/catalog/cist_big2.jpg")            
                    H3 Прицепы цистерны
