+b.dealers
    +e.H2.title Дилеры рядом с вами
    +e.desc
        span.bignum 25
        |  официальных дилеров и сертифицированных сервисных центров по 
        span.bigtext России 
        | и 
        span.bigtext СНГ
    +b.button 
        A.btn__corner.inverse Найти диллера
            span.border