- const dealers = [{"title":"Дилеры рядом с вами","textposition":"left","backgroundcolor":"blue section_dealers angleleft-white angleright-blue","background":"img/bg-dealers.jpg","description":"<span class='bignum'>25</span> официальных дилеров и сертифицированных сервисных центров по <span class='bigtext'>России</span> и  <span class='bigtext'>СНГ</span>","button":{"title":"Найти диллера","style":"inverse"}}];

for item in dealers  
  +sections(item)
