
+b.usetehniks
    +e.H2.title Нашу технику используют:
    +e.items
        +e.item
            IMG(src="img/usetehniks/Rectangle22.png")
        +e.item
            IMG(src="img/usetehniks/Rectangle24.png")

        +e.item
            IMG(src="img/usetehniks/Rectangle26.png")
        +e.item
            IMG(src="img/usetehniks/Rectangle27.png")   
        +e.item
            IMG(src="img/usetehniks/Rectangle29.png")  
        +e.item
            IMG(src="img/usetehniks/Rectangle28.png")