.nv__item_expanded .nv__link::after, .nv-big-submenu__item_link .nv-big-submenu__text::after {
  display: inline-block;
  background-image: url("../img/sprite.svg");
  -moz-background-size: 25.375em 22em;
    -o-background-size: 25.375em 22em;
       background-size: 25.375em 22em;
}

.nv-menu {
  /*flex: 1;

    display: flex;
    font-size: map-get($fontSize, norma);
    color: $color-title;
    margin-top: -4px;
    padding-right: 5.2%;
*/
}

.nv-menu > ul {
  padding: 0;
}

.nv-menu li:before {
  display: none;
}

.nv__link,
.nv-submenu__link {
  color: #373939;
  border-bottom-color: transparent;
}

.nv__link:hover,
.nv-submenu__link:hover {
  color: #009EE3;
  border-color: #009EE3;
}

.nv__item_expanded .nv__link {
  border-bottom: none;
  letter-spacing: 0;
}

.nv__item_expanded .nv__link::after {
  content: "";
  margin-left: 8px;
  width: 0.6875em;
  height: 0.5625em;
  background-position: -19.3125em -11.5625em;
}

.nv__item_expanded:hover .nv__submenu {
  opacity: 1 !important;
  visibility: visible !important;
}

.nv__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media only screen and (max-width: 1013px) {
  .nv__list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nv__item {
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 1366px) {
  .nv__item {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1375px) {
  .nv__item {
    margin-bottom: 10px;
  }
}

.nv__item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.nv__submenu {
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out 0.2s;
  -o-transition: all 0.25s ease-in-out 0.2s;
  -moz-transition: all 0.25s ease-in-out 0.2s;
  transition: all 0.25s ease-in-out 0.2s;
  min-width: 226px;
  margin-top: 10px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
}

.nv__submenu .row {
  margin-bottom: -40px;
}

.nv__submenu > ul {
  width: 100%;
  padding: 34px 45px;
  margin: 0;
}

.nv__submenu::before {
  content: "";
  left: 40%;
  top: -20px;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(238, 238, 238, 0.96);
  border-left: 20px solid transparent;
  position: absolute;
  z-index: 2;
}

.nv-submenu__item {
  margin-bottom: 16px;
}

.nv-submenu__item:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

.nv-big-submenu__list {
  /* flex: 1 0 auto;
    margin-bottom: 40px;

    h4 {
        margin-top: 0;
    }*/
}

.nv-big-submenu__list:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.nv-big-submenu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nv-big-submenu__item_link {
  margin-bottom: 40px;
}

.nv-big-submenu__item_link .nv-big-submenu__text {
  border-bottom: 1px solid #009EE3;
  font-size: 18px;
  margin-top: -9px;
  font-weight: bold;
}

.nv-big-submenu__item_link .nv-big-submenu__text:hover {
  border-color: transparent;
}

.nv-big-submenu__item_link .nv-big-submenu__text a {
  border-bottom: none;
}

.nv-big-submenu__item_link .nv-big-submenu__text::after {
  content: "";
  width: 1.8125em;
  height: 0.5625em;
  background-position: -21.375em -14.5625em;
  margin-left: 8px;
}

.nv-big-submenu {
  width: 100%;
  left: 0;
  right: 0;
  padding: 75px 0;
  z-index: 9999;
}

.nv-big-submenu::before {
  left: 40.5%;
  background: #fffffff2;
}

.nv-big-submenu::after {
  content: '';
  width: 200vw;
  position: absolute;
  left: -50%;
  right: -50%;
  bottom: 0;
  top: 0;
  background: #fffffff2;
  z-index: -1;
  opacity: 1;
}

.gridmenu {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
