+b.tablecontent
    +e.row.tablecontent__defenitions
        +e.model Модель   
        +e.volume Объем
        +e.sections Секций
        +e.dia Сечение
        +e.chassis Базовое шасси
        +e.pricevalue Стоимость от
    +e.row
        +e.image
            img(src="img/catalog/cist_big3.png")
        +e.info
            +e.main
                +e.link
                    a(href="#") АЦН-20        
                +e.art S2935
            +e.deatails
                +e.volume 20
                    span м              
                        sup
                            small 3
                +e.sections 2-3
                +e.dia Чемодан
                +e.chassis 6x4 SCANIA, IVECO, MERCEDES, MAN
            +e.price
                +e.pricevalue 1 250 000 Р
    +e.row
        +e.image
            img(src="img/catalog/cist_big3.png")
        +e.info
            +e.main
                +e.link
                    a(href="#") АЦН-20        
                +e.art S2935
            +e.deatails
                +e.volume 20
                    span м              
                        sup
                            small 3
                +e.sections 2-3
                +e.dia Чемодан
                +e.chassis 6x4 SCANIA, IVECO, MERCEDES, MAN
            +e.price
                +e.pricevalue 1 250 000 Р
    +e.row
        +e.image
            img(src="img/catalog/cist_big3.png")
        +e.info
            +e.main
                +e.link
                    a(href="#") АЦН-20        
                +e.art S2935
            +e.deatails
                +e.volume 20
                    span м              
                        sup
                            small 3
                +e.sections 2-3
                +e.dia Чемодан
                +e.chassis 6x4 SCANIA, IVECO, MERCEDES, MAN
            +e.price
                +e.pricevalue 1 250 000 Р
    +e.row
        +e.image
            img(src="img/catalog/cist_big3.png")
        +e.info
            +e.main
                +e.link
                    a(href="#") АЦН-20        
                +e.art S2935
            +e.deatails
                +e.volume 20
                    span м              
                        sup
                            small 3
                +e.sections 2-3
                +e.dia Чемодан
                +e.chassis 6x4 SCANIA, IVECO, MERCEDES, MAN
            +e.price
                +e.pricevalue 1 250 000 Р
    +e.row
        +e.image
            img(src="img/catalog/cist_big3.png")
        +e.info
            +e.main
                +e.link
                    a(href="#") АЦН-20        
                +e.art S2935
            +e.deatails
                +e.volume 20
                    span м              
                        sup
                            small 3
                +e.sections 2-3
                +e.dia Чемодан
                +e.chassis 6x4 SCANIA, IVECO, MERCEDES, MAN
            +e.price
                +e.pricevalue 1 250 000 Р
