.burger {
  background-image: url("../img/icons/burger-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  margin-left: 1rem;
  width: 25px;
  cursor: pointer;
}
