.logo-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-m__link {
  background-image: url("../img/logo-w.png");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 55px;
  width: 100%;
  border-bottom: none;
  text-indent: -999999px;
}
