// search (css)
.search
    form(method="get", action="/search", accept-charset="UTF-8")
        .form-item
            input.form-text(type="text", placeholder="Поиск", id="edit-keys" name="key", autocomplete="off", v-model="keywords")
        .form-actions
            input.form-submit(type="submit", value="Найти", id="edit-submit-search" name="op")
// КОНЕЦ: search (css)
