// gallery (css, js)
// пресет 386x218
+b.gallery
    a(href="img/temp/prev.jpg")
        img(src="img/temp/prev.jpg", alt="")
    a(href="img/temp/prev.jpg")
        img(src="img/temp/prev.jpg", alt="")
    a(href="img/temp/prev.jpg")
        img(src="img/temp/prev.jpg", alt="")
// КОНЕЦ: gallery (css, js)
