@import "../../styles/helpers/_helpers";

.section_partners {
    background-color: #f9f9f9;

    .block__content {
        display: grid;
        grid-template: auto / 1fr;
        grid-gap: 5vw;


        @include min-screen(768px) {
            grid-template: auto / 1fr 1fr;
        }

        @include min-screen(1366px) {
            grid-template: auto / 1fr 1fr 1fr 1fr;
        }

        justify-content: space-around;
        align-items: center;
    }

}