+b.block
    +e.content
        +e.subitem 
            IMG(src="img/partners/mb.png")
            p.
                QualifiedPartner by Mercedes-Benz  Trucks
        +e.subitem 
            IMG(src="img/partners/bpw.png")
            p.
                QualifiedPartner by BPW
        +e.subitem 
            IMG(src="img/partners/scania.png")
            p.
                QualifiedPartner by SCANIA
        +e.subitem 
            IMG(src="img/partners/wabco.png")
            p.
                QualifiedPartner by WABCO
