// ft (css)
+b.footer
    .container-fluid       
        +e.top
            +e.column.footer__intro
                +e.logo
                .about Небольшой текст о том, что это торговая марка под которой выпускается техника и навесное оборудование высокого качества на заводе УралСТ 
                ul.footer__links
                    li
                        a(href="#") О предприятии 
                    li
                        a(href="#") Сотрудничество
            +e.column.footer__adress
                +e.phone 
                    A(href="tel:88001234567") 8 800 123-45-67
                +e.mail 
                    A(href="mailto:mail@severest.ru") info@severest.ru
                +e.adress
                    +e.adress-label Адрес завода:
                    +e.adress-info Челябинская обл, г. Миассс, Объездная дорога 2/14
                ul
                    li
                        a(href="#")  Контактная информация
                    li
                        a(href="#")  Найти дилера
            +e.column.footer__links__catalog
                ul
                    li
                        a(href="#") Автоцистерны
                    li
                        a(href="#") Бортовая техника 
                    li
                        a(href="#") Самосвалы 
                    li
                        a(href="#") Сортиментовозы 
                    li
                        a(href="#") Контейнеровозы 
                    li
                        a(href="#") Техника в наличии
            +e.column.footer__links__service
                ul
                    li
                        a(href="#") Сервис и запчасти 
                    li
                        a(href="#") Переоборудование техники 
                    li
                        a(href="#") Доставка 
                    li
                        a(href="#") Лизинг
                    li
                        a(href="#") Гарантия на технику
            
        +e.bottom
            include ../copyright/copyright
            a(href="#") Политика конфиденциальности
            div Разработка сайта - 
                a(href="https://algus.net", target="_blank") «Алгоритм Успеха»
// Конец: ft (css)