- const items = [{subitemsposition: "center", substyle: "col-4-2-1", subitems:[{image:"partners/mb.png",description:"Qualified Partner by Mercedes-Benz Trucks"},{image:"partners/bpw.png",description:"Qualified Partner by BPW"},{image:"partners/scania.png",description:"Qualified Partner by SCANIA"},{image:"partners/wabco.png",description:"Qualified Partner by WABCO"}]}];


for item in items  
  +defblock(item)