+b.intro
    +e.flex
        +e.IMG.logo(src="img/logoic.png")
        p. 
            Техника для тех, кто понимает разницу и ценит качество
        A.btn__corner.big.centered О «СЕВЕРЕСТ»
            span.border