@import "../../styles/helpers/_helpers";

.nd-news {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto 170px;
}

.nd-news__content {}

.nd-news__data {
    // font-size: map-get($font-size, normaMinus);
    margin-bottom: 21px;
}

.nd-news__body {}

.nd-page__gallery {}