// nd-news
+b.nd-news.margin
    +e.content
        +e.body.margin-small
            p Прмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей нет, товесь блок будет отсутствовать, а если новостей несколько, то будет прокрутка
            p Прмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей нет, товесь блок будет отсутствовать, а если новостей несколько, то будет прокрутка
            p Прмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей нет, товесь блок будет отсутствовать, а если новостей несколько, то будет прокрутка
            p Белорусское предприятие стало первым в списке крупнейших производителей, начавшим продажу продукции за криптовалюты.
            include ../newsimg/newsimg
            p Прмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей нет, товесь блок будет отсутствовать, а если новостей несколько, то будет прокруткаПрмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей не
            p Прмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей нет, товесь блок будет отсутствовать, а если новостей несколько, то будет прокрутка
            p Прмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей нет, товесь блок будет отсутствовать, а если новостей несколько, то будет прокрутка
            p Прмер текста новости про разработку новой технологии, позволяющей производить сухой пар. Здесь будет краткий текст новости. Если актуальных новостей нет, товесь блок будет отсутствовать, а если новостей несколько, то будет прокрутка
            .btn.btn-link.btn-icon.btn-icon_left Вернуться к списку

    +e.gallery.margin

        //- include ../../components/gallery_1/gallery_1
// КОНЕЦ: nd-news
