.slider-swiper
    .swiper-wrapper
        .swiper-slide
            img(src="img/temp/news.jpg")
        .swiper-slide
            img(src="img/temp/news.jpg")
        .swiper-slide
            img(src="img/temp/news.jpg")
    .swiper-pagination