// nd-page (css)
+b.nd-page.margin
    +e.content
        +e.body.margin-small
            H1 H1 Электробус КАМАЗ продолжит тестовые испытания в Липецке
            p КАМАЗ предоставит электробус второго поколения для тестовой эксплуатации в Липецке. Эта техника в рамках опытной эксплуатации уже обслуживает пассажиров Москвы, Санкт-Петербурга и Казани. На 2018 год запланирован запуск производства электробусов КАМАЗ третьего поколения.
            p Специалисты КАМАЗа приняли участие в совещании в мэрии Липецка по развитию в городе нового вида пассажирского транспорта. В ходе мероприятия были рассмотрены варианты замены неэффективного пассажирского транспорта в городском автопарке. Как было отмечено на совещании, достойной альтернативой троллейбусам могут стать низкопольные электробусы КАМАЗ.
            H2 H2 Заголовок на текстовой странице
            p Специалисты КАМАЗа приняли участие в совещании в мэрии Липецка по развитию в городе нового вида пассажирского транспорта. В ходе мероприятия были рассмотрены варианты замены неэффективного пассажирского транспорта в городском автопарке. Как было отмечено на совещании, достойной альтернативой троллейбусам могут стать низкопольные электробусы КАМАЗ.
            p Руководитель группы по развитию продаж автобусов НЕФАЗ Роман Леонтьев сообщил, что уже налажено серийное производство электробусов первого и второго поколений. Эта техника уже успешно обслуживает пассажиров Москвы, Санкт-Петербурга и Казани в рамках опытной эксплуатации. На 2018 год запланирован запуск производства электробусов третьего поколения, отмечается в пресс-сообщении КАМАЗа
            H3 H3 Заголовок на текстовой странице
            p Электробус второго поколения КАМАЗ-6282 адаптирован для маломобильных пассажиров, имеет низкий уровень пола, оснащен видеокамерами и спутниковой навигацией. Транспортное средство рассчитано на 24 места для сидения, а его общая вместимость – 85 пассажиров.
            H4 Описание
            table 
                tbody
                    tr
                        td 
                            div Вместимость цистерны, м3
                        td 
                            div 10
                    tr
                        td
                            div Количество секций, шт
                        td
                            div 1
                    tr
                        td
                            div Форма поперечного сечения
                        td
                            div чемодан
                    tr
                        td 
                            div Материал цистерны
                        td 
                            div сталь 09Г2С, S=3 мм
                    tr
                        td 
                            div Крышка горловины
                        td
                            div алюминиевая
                    tr
                        td
                            div Устройство дыхательное
                        td
                            div УД2-80 (фланцевое)
                    tr
                        td
                            div Донный клапан
                        td
                            div ДУ-80, механический с тросовым управлением
                    trw
                        td
                            div Габаритные размеры
                        td
                            div 8438х2500х3800
            p Уникальность нового электробуса заключается в новой аккумуляторной технологии, увеличивающей срок службы техники в три раза, отметили в пресс-службе КАМАЗа. Аккумуляторы заряжаются от электрической сети с напряжением 380 вольт. Запас хода на одной 20-минутной подзарядке составляет 100 километров, а максимальная скорость – 65 км/ч. Электробус можно эксплуатировать при температуре до 30 градусов мороза.
            H4 Список маркированный на текстовой странице:
            ul
                li Пункт 1
                li Пункт 2 - он будет в несколько строчек, поэтому сюда вставлен посторонний текст: аккумуляторы заряжаются от электрической сети с напряжением 380 вольт. Запас хода на одной 20-минутной подзарядке 
                li Пункт 3
            H4 Список маркированный на текстовой странице:
            ol
                li Пункт 1
                li Пункт 2 - он будет в несколько строчек, поэтому сюда вставлен посторонний текст: аккумуляторы заряжаются от электрической сети с напряжением 380 вольт. Запас хода на одной 20-минутной подзарядке 
                li Пункт 3
            p КАМАЗ предоставит электробус второго поколения для тестовой эксплуатации в Липецке. Эта техника в рамках опытной эксплуатации уже обслуживает пассажиров Москвы, Санкт-Петербурга и Казани. На 2018 год запланирован запуск производства электробусов КАМАЗ третьего поколения.
            p Специалисты КАМАЗа приняли участие в совещании в мэрии Липецка по развитию в городе нового вида пассажирского транспорта. В ходе мероприятия были рассмотрены варианты замены неэффективного пассажирского транспорта в городском автопарке. Как было отмечено на совещании, достойной альтернативой троллейбусам могут стать низкопольные электробусы КАМАЗ.

    +e.gallery.margin
        include ../gallery/gallery
// КОНЕЦ: nd-page (css)
